{% extends 'base.html.twig' %}

{% block title %}Mis imagenes{% endblock %}

{% block body %}
                    <div class="navbar" >
                                    <a class="logo" ><img class="logo"src="../img/icono1.png"  ></a>
                                    <a class="logo" ><img class="logo"src="../img/icono1.png"  ></a>
                                    <a class="logo" ><img class="logo"src="../img/icono1.png"  ></a>
                                    <a class="btn" href="{{ path('app_imagen_new') }}">Crear nuevo registro </a>
                    </div>
 <h1>Mis imágenes favoritas</h1>
        {% for imagen in imagens %}

                    <div class="caja">
                
                        <img class="rounded" src="{{ asset('uploads/fotos/'~imagen.foto) }}" width="250px">
                        <h2>{{ imagen.titulo }}</h2>
                    </div>
                    <div class="cajab">              
                        <a class="btn"href="{{ path('app_imagen_edit', {'id': imagen.id}) }}">Editar</a>
                        <a class="btn "href="{{ path('app_imagen_show', {'id': imagen.id}) }}">Ver</a>
                        {{ include('imagen/_delete_form.html.twig') }}
                    </div>
        {% else %}
            
                    <div>No se han encontrado archivos</div
           
        {% endfor %}

{% endblock %}
